@import 'navbar1.css';


#bg {
    background-image: url("img1.PNG");
    position: fixed;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    width: 50vw;
    height: 40vh;
    left: 50%;
    bottom: 0;
    z-index: 0.3;
}

.heading {
    color: #48456b;
}


#adpage {
    font-family: Baloo Bhai, sans-serif;
    padding-left: 10px;
    height: 100%;
}

.advid {
    padding-bottom: 10px;
}

.button,
.nav--link {
    border-bottom-style: none;
    font-family: Baloobhai, sans-serif;
    text-transform: lowercase;

}

.w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #5f59a5;
    color: #fff;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;

}