@import 'navbar1.css';

body {
    margin: 0;
    background-color: #E4E8ED;
    font-family: sans-serif;
}

input, select, button {
    border-style: none none solid;
    margin: 15px 0px 0px 20px;
    border-style: none none solid;
    border-bottom-width:1px;
    border-bottom-color: #ced7db;
    width:15vw;
    float: left;
}

#main {
    background-color: #f5f8fa;
    height: 100vh;
    width:80vw;
    position: absolute;
    margin:auto;
    left:0;
    right:0;
}
    #title {
        position: relative;
        top: 20px;
        text-align: center;
        color: rgb(87, 164, 219);
    }
    #header {
        height: 20%;
        width: 100%;
        border-bottom: solid gray 2px;
    }
        .row{
            height: 33%;
            width: 100%;
        }
            .filters, .id, .fname, .lname, .status, .city {
                float: left;
                margin: 11px 0px 0px 0px;
                padding: 0px 0px 0px 25px;
                width: 18%;
                background: none;
                border: none;
                text-align: left;
            }
            .id {width: 15%;}
            .fname {width: 16%;}
            .lname {width: 16%;}
            .status {width: 25%;}
            .city {width: 22%;}
                #optionbox {
                    width:20vw;
                    float: right;
                }
                .purple_button {
                    float: right;
                    background-color: #5f59a5;
                    border-radius: 6px;
                    border:0px;
                    margin: 0px;
                    color:white;
                    height: 80%;
                    margin: 5px 25px;
                    padding: 0;
                    font-family: 'BalooBhai', sans-serif;
                    font-size: 20px;
                }
                .purple_button:hover {
                    background-color: #916cc6;
                }
    #list {
        border-top: solid #e6e6e6 3px;
    }
        .providers {
            background-color: #f5f8fa;
            border-bottom: 1px solid grey;
            height:70px;
            width:100%;
        }
        .providers:nth-child(even) {
            background-color: lightblue;
        }  
        .providers:hover {
            background-color: #00ff99;
        }
            .goto_provider {
                position: absolute;
                border: none;
                height: 7.5%;
                background: none;
                width: 100%;
                text-align: left;
                font-size: 20px;
                margin: 0px;
                padding-left: 22px;
            }