@import 'navbar1.css';


body{
    background-color: #d2dee3;
}

.buttbox {
    width: 200px; 
    height: 500px;
    display: inline;
    font-family: 'BalooBhai', sans-serif;
}

#mainarea{
    margin: auto;
    padding: 10px;
    position: absolute;
    height: 55vh;
    width: 65vw;
    right: 0px;
    left: 0px;
    top: 100px;
    bottom:0px;
    
}
.mainbuttons {
    border-radius: 6px;
    border:0px;
    width: 60vw;
    background-color: #5f59a5;
    padding: 20px;
    margin: 10px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    float: left;
    opacity: 0.9;

}

.mainbuttons:hover {
  opacity:1;
}

.hiddentext {
    width:55vw;
    height: 40vh;
    background-color: #fff;
}

.textarea {
    width:30vw;
    height: 300px;
    background-color: #fff;
    float: left;
    text-align: center;
    margin: 10px;
    padding:10px;
    position: inherit;

}

.submitarea {
    width:20vw;
    height:300px;
    float: right;
    text-align: center;
    margin: 10px;
    padding: 10px;
    position: inherit;
}


#crInfo {
    display: none;
}

#homeInfo {
    display:none;
}

#ccInfo {
    display: none;
}