@import 'navbar1.css';

body{
    background-color: #d2dee3;
    overflow: scroll;
}

.buttbox {
    width: 200px; 
    height: 500px;
    display: inline;
    font-family: 'BalooBhai', sans-serif;
}

.bigcontainer {
    width: 65vw;

    background-color: white;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 6px;

}

#mainarea{
    margin: auto;
    padding: 10px;
    position: absolute;
    height: 75vh;
    width: 65vw;
    right: 0px;
    left: 0px;
    top: 200px;
    bottom:0px;
}

.mainbuttons {
    border-radius: 6px;
    border:0px;
    width: 65vw;
    background-color: #5f59a5;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;

}

.mainbuttons:hover {
  opacity: 1;
}

.textarea {
    width:35vw;
    height: auto;
    background-color: rgba(255, 250, 255, 0.9);
    float: left;
    text-align: left;
    margin: 8px;
    padding:5px;
    position: relative;
    border-radius: 5px;
    font-size: 20px;
}

.submitarea {
    width:20vw;
    height:150px;
    float: right;
    text-align: center;
    margin: 8px;
    padding: 10px;
    background-color: rgba(254, 205, 254, 0.76);
    position: relative;
    border-radius: 6px;
}

#crInfo {
    display: none;
}
#crInfo2 {
    display: none;
}
#floorInfo {
    display:none;
}

#siteInfo {
    display: none;
}

#refInfo {
    display: none; 
}

#fireInfo {
    display: none;
}