@import 'navbar1.css';

body{
    background-color: #d2dee3;
}

.buttbox {
    width: 200px; 
    height: 500px;
    display: inline;
    font-family: 'BalooBhai', sans-serif;
}

#mainarea{
    margin: auto;
    padding: 10px;
    position: absolute;
    height: 75vh;
    width: 65vw;
    right: 0px;
    left: 0px;
    top: 100px;
    bottom:0px;

    
}
.mainbuttons {
    border-radius: 6px;
    border:0px;
    width: 60vw;
    background-color: #5f59a5;
    padding: 20px;
    margin: 10px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    float: left;
    opacity: 0.9;

}

.mainbuttons:hover {
  opacity: 1;
}

.hiddenspace {
    border-radius: 6px;
    width: 62.5vw;
    height: 350px;
}

.textarea {
    width:35vw;
    height: 300px;
    background-color: #fff;
    float: left;
    text-align: left;
    margin: 8px;
    padding:3.5px;
    position: relative;

}

.submitarea {
    width:20vw;
    height:150px;
    float: right;
    text-align: center;
    margin: 8px;
    padding: 10px;
    background-color: #ede;
    position: relative;
}

#crInfo {
    display: none;
}

#floorInfo {
    display:none;
}

#siteInfo {
    display: none;
}

#refInfo {
    display: none; 
}

#fireInfo {
    display: none;
}