@import 'navbar1.css';
@import 'navbar2.css';

#licensebody{
    overflow: scroll;
}

.buttbox {
    width: 200px; 
    height: 500px;
    display: inline;
    font-family: 'BalooBhai', sans-serif;
}

.bigcontainer {
    width: 65vw;
    background-color: white;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 6px;
}

#mainarea{
    margin: auto;
    padding: 5px;
    position: absolute;
    height: 80vh;
    width: 65vw;
    right: 0px;
    left: 0px;
    top: 200px;
    bottom:0px;
}

.mainbuttons {
    border-radius: 6px;
    border:0px;
    width: 65vw;
    background-color: #5f59a5;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    opacity: 0.8;
    padding: 10px;
}

.mainbuttons:hover {
  opacity: 1;
}

.textarea {
    width:38vw;
    height: auto;
    background-color: rgba(254, 250, 255, 0.9);
    float: left;
    text-align: left;
    margin: 8px;
    padding:5px;
    position: relative;
    border-radius: 5px;
    font-size: 20px;
}

.submitarea {
    width:20vw;
    height:150px;
    float: right;
    text-align: center;
    margin: 8px;
    padding: 10px;
    background-color: rgba(254, 205, 254, 0.5);
    position: relative;
    border-radius: 6px;
}

#crInfo {
    display: none;
}
#crInfo2 {
    display: none;
}
#floorInfo {
    display:none;
}
#floorInfo2 {
    display:none;
}

#siteInfo {
    display: none;
}
#siteInfo2 {
    display: none;
}

#refInfo {
    display: none; 
}
#refInfo2 {
    display: none; 
}

#fireInfo {
    display: none;
}
#fireInfo2 {
    display: none;
}

#immunInfo {
    display: none;
    text-align: center;
    width: 100%;
}

#empInfo {
    display: none;
    text-align: center;
    width: 100%;
}

.purple_button {
  padding: 15px 35px;
  margin: 0px 20px;
}