@import 'navbar1.css';

body {
    background-color: #E4E8ED;
}

#panel{
    height: 40vh;
    width: 30vw;
    margin: 0 auto;
    text-align:center;
    padding:15px;
    
}

#loginButton {
    position: relative;
    margin:20px 20px;

}

#loginTitle {
    font-size: 27px;
    font-size: 2em;
    font-weight: bold;
    color: #48456b;
    font-family: Baloobhai,sans-serif;
}

#loginBox{
    flex-grow:3;
    padding: 0px 5px 0 px 15px;
    border-left:0px;
    position: relative;
    border-radius: 0px 6px 6px 0px;
}

.Login_Panels{
    background-color:#f5f8fa;
    border: 2px solid #e6eff3;
}

#Login_Panel h2{
    font-family: 'BalooBhai', sans-serif;
    margin: 5px;
    color: #48456b;
}

.loginelements{
    margin:20px;
}

.inputbox{
    padding: 15px;
    margin: 15px 0 30px 0;
    display: inline-block;
    background: rgba(255, 255, 255, 0.65);
    color: black;


    border-style: none none solid;
    border-bottom-width:2px;
    border-bottom-color: #ced7db;
   
    font-size: 18px;
}

.purple_button {
  padding: 15px 35px;
  margin: 0px 20px;
}