@import 'navbar1.css';


#Login_Panel{
    height: 55vh;
    width: 75vw;
    right: 0;
    left: 0;
    top: 0;
    bottom:0;
    margin: auto;

    display:flex;
    padding:15px;
    -webkit-flex-direction: row;
    -me-flex-direction: row;
    flex-direction: row; 
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: relative;
}

#Left_Panel{
    flex-grow:1;
    padding: 0px 5px 0px 15px;
    border-right:0px;
    position: relative;
    background-color:lightblue;
    border-radius: 6px 0px 0px 6px;
}

#Right_Panel{
    flex-grow:3;
    padding: 0px 5px 0 px 15px;
    border-left:0px;
    position: relative;
    border-radius: 0px 6px 6px 0px;
}

.Login_Panels{
    background-color:#f5f8fa;
    border: 2px solid #e6eff3;
}

#Login_Panel h2{
    font-family: Baloo Bhai, sans-serif;
    margin: 5px;
    color: #48456b;
}

#adpage a{
    margin:20px;

}

#adpage p{
    margin:20px;

}

.loginelements{
    margin:20px;
}

.inputbox{
    background-color: #f5f8fa;
    margin-top: 15px;
    margin-bottom: 15px;
    border-style: none none solid;
    border-bottom-width:2px;
    border-bottom-color: #ced7db;
    width:80%;
    font-size: 18px;
    color: black;
    
}


::placeholder{
    font-size: 18px;
}

/* baloo-bhai-regular - latin */
@font-face {
    font-family: 'Baloo Bhai';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/baloo-bhai-v3-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Baloo Bhai Regular'), local('BalooBhai-Regular'),
         url('../fonts/baloo-bhai-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/baloo-bhai-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/baloo-bhai-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/baloo-bhai-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/baloo-bhai-v3-latin-regular.svg#BalooBhai') format('svg'); /* Legacy iOS */
  }