@import 'navbar1.css';

body {
    margin: 0;
    background-color: #E4E8ED;
    font-family: sans-serif;
}



#main {
    background-color: #f5f8fa;
    height: 100vh;
    width:80vw;
    position: absolute;
    margin:auto;
    left:0;
    right:0;

}
#options {
    border-bottom: #878787 solid 2px;
    padding-bottom: 20px;
}
#optionbox{
    width:20vw;
    height:25px;
    position: absolute;
    right:0;
    top:0;
}

.inputbox{
    background-color: #f5f8fa;
    margin-left:15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right:15px;
    border-style: none none solid;
    border-bottom-width:1px;
    border-bottom-color: #ced7db;
    width:15vw;
    height:20px;
    font-size: 18px;
}
.Login_Panels{
    background-color:#f5f8fa;
    border: 2px solid #e6eff3;
}

#leftbox{
    flex-grow:1;
    padding: 0px 5px 0px 15px;
    position: relative;
    background-color:#f5f8fa;
}

#rightbox{
    flex-grow:1;
    padding: 0px 5px 0 px 15px;
    position: relative;
    background-color: #f5f8fa;
}
#parameters{
    height: 100px;
    width:100%;
    display:flex;
    -webkit-flex-direction: row;
    -me-flex-direction: row;
    flex-direction: row; 
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin:auto;
    left:0;
    right:0;
}
.purple_button{
    background-color: #5f59a5;
    border-radius: 6px;
    border:0px;
    display:inline-block;
    padding:15px 25px;
    color:white;
    font-family: Baloo Bhai, sans-serif;
    margin:15px;
    margin-bottom: 5px;
    position: absolute;
    bottom:0px;
    right:0
}
#list {
    border-top: solid #e6e6e6 4px;
}
.providers{
    background-color: #f5f8fa;
    border: none;
    border-bottom: 1px solid grey;
    height:35px;
    width:100%;
    display:flex;
    -webkit-flex-direction: row;
    -me-flex-direction: row;
    flex-direction: row; 
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.providers:hover {
    background-color: #e6e6e6;
}
.textentry{
    width:25px;
    margin-left:15px;
    margin-top:10px;
    flex-grow: 1;
    text-align: left;
}
.applicationentry{
    width: 100px;
    margin-left:15px;
    margin-right: 40px;
    margin-top:10px;
    flex-grow: 1;
    text-align: left;
}
#provider_list {
    width: 100%;
}
.goto_provider {
    position: absolute;
    border: none;
    background: none;
    width: 100%;
    height: 5%;
    text-align: left;
    font-size: 20px;
    padding-left: 20px;
}