body {
	margin: 0 auto;
	background-color: #E4E8ED;
	font-family: sans-serif;
	width:80%;
	height:100vh;

}

#providerSelect {
	left:80%;
	margin: 0 auto;
	text-align: right;
	position:absolute;
}

#navbar {
	width: 100%;
	height: 60px;
	background-color: white;
	color: #57A4DB;
	font-size: 48px;
	border-bottom: 1px solid grey;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
}

#navbar_left {
	font-size: 24px;
	position: absolute;
	left: 0;
	top: 0;
	text-align: left;
}

#main {
	background-color: #EAEAEA;
	height: 100%;
}

#scroll {
	
    overflow: hidden;
    height: 100vh;
    
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

#attributes {
	height: 50px;
	width:100%;
}

.prov {
	height: 50px;
	width:100%;
}

#id {
	padding-left:40px;
}
#fname {
	padding-left:200px;
}

#lname {
	padding-left:200px;
}

#status {
	padding-left:400px;
}