
/* settings page 
--------------------------------
*/

#maincontentset {
    margin: auto;
    position: absolute;
    height: 70vh;
    width: 100vw;
    right: 0px;
    left: 0px;
    top: 150px;
    bottom:0px;
}

#backPage {
    display: none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.6);
}


.changepart {
    width: 70%;
    position: relative;
    height: 70px;
    margin-left: 24vw;
    margin-right: auto;
    padding-top: 20px;

}

.changeinfo {
    position: relative;
    padding-left: 9%;
    width: 50%;
    height: 50px;
    top: 8px;
    display: inline-block;
    font-size: 23px;
    color: #48456b;
    font-family: Baloobhai,sans-serif;
    font-weight: 800;
    line-height: 120%;

}


.changebox {
    position: relative;
    width: 40%;
    height: 50px;
    background-color: #9c67ec;
    left: 0px;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.changebox:hover {
    background-color: #5f59a5;
}


.changeInput {
	position: relative;
    width: 300px;
    height: 15px;
    top: 30px;
	border-radius: 10px;
    padding: 15px;
    margin: 10px 10px 0px 10px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    color: #48456b;
    font-family: 'BalooBhai',sans-serif;
}


#cancelPass {
  background-color: #9795b2;
}

#cancelName {
  background-color: #9795b2;
}

#cancelEmail {
  background-color: #9795b2;
}


input {
	font-size: 15px;
	padding-left: 20px;
	padding-top: 10px;
    /*color: #f7fbfd;*/
    font-family: 'BalooBhai',sans-serif;
}


.popuptitle {
	font-size: 25px;
	padding-left: 20px;
    color: #48456b;
    font-family: 'BalooBhai', sans-serif;
    position: relative;
    top: 20px;
}

#changePass {
	display: none;
    position: absolute;
    background-color: white;
    width: 400px;
    height: 350px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    transition: 0.5s;
	text-align: center;
    font-family: 'BalooBhai', sans-serif;
}

#changeName {
	display: none;
    position: absolute;
    background-color: white;
    width: 400px;
    height: 250px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    transition: 0.5s;
	text-align: center;
    font-family: 'BalooBhai', sans-serif;
}

#changeEmail {
	display: none;
    position: absolute;
    background-color: white;
    width: 400px;
    height: 250px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    transition: 0.5s;
	text-align: center;
    font-family: 'BalooBhai', sans-serif;
}
