
#maincontent {
	margin: auto;
    padding: 10px;
    position: absolute;
    height: 75vh;
    width: 65vw;
    right: 0px;
    left: 0px;
    top: 200px;
    bottom:0px;
}

#maincontent h2 {
    color: white;
    font-weight: bold;
}

.redbuttons {
    border-radius: 6px;
    border:0px;
    width: 60vw;
    background-color: #ec6d6d;
    padding: 20px;
    margin: 10px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    float: left;
    opacity: 0.9;
}

.redbuttons:hover {
  opacity:1;
}

.greenbuttons {
    border-radius: 6px;
    border:0px;
    width: 60vw;
    background-color: #589b78;
    padding: 20px;
    margin: 10px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    float: left;
    opacity: 0.9;
}

.greenbuttons:hover {
  opacity:1;
}

.yellowbuttons {
    border-radius: 6px;
    border:0px;
    width: 60vw;
    background-color: #ffd53a;
    padding: 20px;
    margin: 10px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    float: left;
    opacity: 0.9;
}

.yellowbuttons:hover {
  opacity:1;
}


.greybuttons {
    border-radius: 6px;
    border:0px;
    width: 60vw;
    background-color: #827878;
    padding: 20px;
    margin: 10px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    float: left;
    opacity: 0.9;
}



.notesbox {
	position: relative;
	width: 90%;
	height: 100%;
	background-color: #d7d0ff;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
}

.notescontent {
	position: relative;
	width: 97%;
	height: 97%;
	left: 10px;
    font-size: 20px;
}


.textareaSS {
    background-color: #fff;
    margin: 0px;
    position: relative;
    height: 100%;
}

.hiddenspaceSS {
	top: -20px;
    width: 60vw;
    height: auto;
    background-color: #fff;
    float: left;
    padding: 20px;
    margin: 10px;
    position: relative;

}

#crInfoSS {
    display: none;
}


#siteInfoSS {
    display:none;
}

#floorInfoSS {
    display: none;
}