@import 'navbar1.css';
@import 'navbar2.css';

@font-face{ 
	font-family: 'BalooBhai';
	src: url('baloo-bhai-v3-latin-regular.eot');
	src: url('baloo-bhai-v3-latin-regular.woff') format('woff'),
	     url('baloo-bhai-v3-latin-regular.ttf') format('truetype'),
	     url('baloo-bhai-v3-latin-regular.svg') format('svg');
}
body{
    font-family: 'BalooBhai', sans-serif;
    background-color: #d2dee3;
}
input[type=button] {
	font-family: 'BalooBhai';
}
input::placeholder{
    font-size: 18px;
    font-family: 'BalooBhai', sans-serif;
}
div {
	font-family: 'BalooBhai', sans-serif;
}
h1 {
    color: #48456b;
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
}
h2 {
	font-size: 27px;
	padding-left: 20px;
	padding-top: 10px;
    color: #48456b;
    font-family: 'BalooBhai', sans-serif;
}
h3 {
	font-size: 30px;
	padding-left: 20px;
    color: #48456b;
    font-family: 'BalooBhai', sans-serif;
    position: relative;
    top: 0px;
    font-weight: normal;
}
p,a, option, select{
    margin:0px;
    font-family: 'BalooBhai', sans-serif;
}
button{
    background-color: #5f59a5;
    border-radius: 6px;
    border: 0px;
    color: white;
    font-family: 'BalooBhai', sans-serif;
    font-size: 20px;
}
button:hover {
    background-color: #916cc6;
}
