@import 'navbar1.css';

@import 'login.css';
@import 'ad_page.css';
@import 'account_creation.css';
@import 'dashstyle.css';
@import 'status.css';
@import 'settings.css';

@font-face{ 
	font-family: 'BalooBhai';
	src: url('baloo-bhai-v3-latin-regular.eot');
	src: url('baloo-bhai-v3-latin-regular.woff') format('woff'),
	     url('baloo-bhai-v3-latin-regular.ttf') format('truetype'),
	     url('baloo-bhai-v3-latin-regular.svg') format('svg');
}


#headerdiv {
	position: absolute;
	height: 50px;
	width: 100%;
	background-color: #f7fbfd;
	left: 0px;
	top: 0px;
}


body{
    font-family: 'BalooBhai', sans-serif;
    background-color: #d2dee3;
}

#headtext {
	position: absolute;
	color: #58a5e8;
	left: 500px;
	right: 0px;
	top: 8px;
	margin: auto;
	font-family: Baloobhai,sans-serif;

}


h1 {
    color: #48456b;
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
}

h2 {
	font-size: 27px;
	padding-left: 20px;
	padding-top: 10px;
    color: #48456b;
    font-family: Baloobhai,sans-serif;
}


h3 {
	font-size: 30px;
	padding-left: 20px;
    color: #48456b;
    font-family: Baloobhai,sans-serif;
    position: relative;
    top: 0px;
    font-weight: normal;
}

p,a, option, select{
    margin:0px;
    font-family: Baloobhai,sans-serif;

}



.purple_button{
    background-color: #5f59a5;
    border-radius: 6px;
    border:0px;
    display: inline-block;
    padding: 15px 35px;
    color: white;
    font-family: Baloo Bhai, sans-serif;
	margin-left: 20px;
	margin-right: 20px;
    opacity: 0.9;
    font-size: 20px;
	font-weight: bold;
	position: relative;
	text-align: center;
}

.purple_button:hover {
  opacity:1;
}

/*licenses page submit butotn */
#mainarea .purple_button{
    position: relative;
}

/*settings buttons*/
#backPage .purple_button{
	top: 50px;
}

#adpage {
    background-color: #e4e2f7
}

/*acc creation page*/
#button_bar .purple_button{
	padding-left: 50px;
	padding-right: 50px;
	margin-left: 40px;
	margin-right: 40px;
}





/*-----------------quiz------------------

.quizscreen {
	position: relative;
	width: 500px;
	height: 370px;
	top: 50px;
	background-color: #B6DEF9;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;

}

.checkingtitle {
	position: relative;
	width: 500px;
	height: 50px;
	top: 0px;
	margin-left: auto;
	margin-right: auto;
}

.quizbackButt {
	position: relative;
	width: 90px;
	height: 30px;
	background-color: #9c67ec;
	left: 20px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;

}

.quizbackButt:hover {
    background-color: #5f59a5;
}

.quiznextButt {
	position: relative;
	width: 90px;
	height: 30px;
	background-color: #9c67ec;
	left: 300px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;

}

.quiznextButt:hover {
    background-color: #5f59a5;
}

.quiztitle {
	position: relative;
	top: 6px;
	font-size: 17px;
    color: #f7fbfd;
    font-family: Baloobhai,sans-serif;
    font-weight: bold;
}

-------------------------------*/