@import 'navbar1.css';

body {
	margin: 0 auto;
	background-color: #E4E8ED;
	font-family: Baloo Bhai, sans-serif;
  	color: #9795b2;
}

#tcwindow{

  position: relative;
  margin:auto;
  top:20px;
  left:0px;
  right:0px;
  height:70%;
  width:80%;
  background-color: white; 
  overflow: auto;

}

.tclines {
  margin-left:10px;
}

#tccheck {
  position: relative;
  text-align: center;
  bottom:-40px;
}

.heading {
    color: #48456b;
}