<div id='navbar'>
    <div id='left'>
    </div>

    <div id='center'>
    	edify Providers
    </div>

    <div id='right'>
    	<a id='login' href=./provider_login>
    		Login
    	</a>
    </div>
</div>