<!DOCTYPE html>


	<div id='navbar'>

		<b>Edify Providers</b>
		
	<div id='navbar_left' >
		
		<p><img src="img7.PNG" alt="Edify Learning Spaces" height="60px" width="225px"></p>

	</div>

	<div id='navbar_right' >
		
		<b>About Edify Providers</b>

	</div>

</div>
