<div id="menu">
        <div class="butte" >
            <a class="cont" href=./licenses>Licenses</a>
        </div>

        <div class="butte" >
            <a class="cont" href=./status>Status</a>
        </div>
        <div class="butte" >
            <a class="cont" href=./settings>Settings</a>
        </div>

</div>