<!DOCTYPE html>
<html>
<head>
	<title> Why Become A Provider?</title>
	<link href = "ad_page.css" type = "text/css" rel = "stylesheet"/>
</head>

<body>

{{> navbar}}
<div id="adpage">

<h1 class="heading">Why should you become an Edify Provider?</h1>
		
	<div class="advid"> 

		<iframe width="560" height="315" src="https://www.youtube.com/embed/giS0BrfXUmM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


	</div>

<div class="column__padded w-col w-col-6">
		<h1 class="heading">Edifying the future</h1>
		<p class="intro">Connecting you to parents in search of  
			<strong>After School Care</strong> 
		 providing their 5 - 12 year old children with the benefits of a S.T.E.A.M. education.</p>

		 <h1 class="heading">What is S.T.E.A.M.</h1> 
		 <p class="intro">
			
		 S.T.E.A.M. stands for Science, Technology, Engineering, Art &amp; Math</p>

		
		<a href="/account_creation" class="button w-button">Become an Edify Provider</a>

		
	
</div>
</div>
</body>
</html>