<!DOCTYPE html>
<head>
	<title>Admin Page</title>
	<link href='admin_list_page.css' rel='stylesheet' type='text/css'/>
	
</head>

<body>
	{{> navbar_logout}}

	<div id='main'>
		<div id ='options'>
            <form method="POST" action="/admin_list" id="parameters">
                <div id="leftbox">
                    <div>
                    <input class="inputbox" type="text" name="Idsearch" placeholder="ID Number"/>
                    </div>
                    <div>
                        <input class="inputbox" type="text" name="fnamesearch" placeholder="First Name"/>
                        <input class="inputbox" type="text" name="lnamesearch" placeholder="Last Name"/>
                    </div>
                </div>
                <div id="rightbox">
                    <div>
                    <input class="purple_button" type="submit" value="Create Account"/>
                    <input class="purple_button" type="submit" value="Search"/>
                    </div>
                </div>
            </form>    
        </div>

        <div id='list'>
            <div class="providers">
                <h2 class='textentry'>id number</h2>
                <h2 class='textentry'>FirstName</h2>
                <h2 class='textentry'>LastName</h2>
            </div>
            {{#each userData.admins as |admin|}}
                <form class='providers' method='GET' action='admin_edit'>
                    <input type='submit'  value='{{admin.id}}' class='goto_provider'/>
                    <h2 class='textentry'></h2>
                    <h2 class='textentry'>{{admin.firstName}}</h2>
                    <h2 class='textentry'>{{admin.lastName}}</h2>
                </form>
            {{/each}}
        </div>

         <div id="backPage">
        <form action="/admin-list_page_edit" method="post">
                <div id="createAccount">
                    <h3 class="popuptitle">Create Account</h3>
                    <input class="changeInput" type="text" placeholder="Name" name="name">
                    <input class="changeInput" type="password" placeholder="Password" name="pswd" >
                    <input class="changeInput" type="password" placeholder="Re-type new password" name="pswd">
                    <button class="changeButt" type="submit">Confirm</button>
                    <button class="changeButt" type="submit">Cancel</button>

                </div>
        </form>
        </div>

	</div>
</body>