<!DOCTYPE html>
<head>
    <title>Admins</title>
    <link href='adminEdit.css' rel='stylesheet' type='text/css'/>
</head>

<body>
    {{> navbar}}

    <div id='main'>
        <div id='header'>
            <form class='row' method='get' action='/admin_list'>
                <input id='back' class='purple_button' type='submit' value='back'/>
            </form>
            <div class='row'>
                <button class='purple_button' type='button' onclick='deleteAdmin()'>Delete Admin</button>
                <button class='purple_button' type='submit' onclick='getInputs()'>Change Password</button>
            </div>
            <div class='row'>
                <h2 class='id'>Id number</h2>
                <h2 class='fname'>First name</h2>
                <h2 class='lname'>Last name</h2>
            </div>
        </div>

        <div id='list'>
            <div class='providers' method='GET' action='admin_edit'>
                <h2 class='id'>{{userData.id}}</h2>
                <h2 class='fname'>{{userData.firstName}}</h2>
                <h2 class='lname'>{{userData.lastName}}</h2>
            </div>
        </div>

    </div>
    <script src="sweetalert2.all.min.js"></script>
    <script src="adminEdit.js"></script>
</body>