<!DOCTYPE html>
<head>
	<title>Admin Edit</title>
	<link href='adminEdit.css' rel='stylesheet' type='text/css'/>
    <link href="Passchange.css" type="text/css" rel = "stylesheet"/>
	
</head>

<body>
	{{> navbar}}
	<div id='main'>
        <div id="parameters">
            <form id='leftbox' method='GET' action='admin_list'>
                <input class="purple_button" type="submit" value="Back"/>
            </form>
            <div id="rightbox2">
                <button  class="purple_button2" type="submit" value="Change Password">Change password</button>
                <br>
                <button  class="purple_button2" type="submit" value="Delete">Delete account</button>
            </div>
        </div>    

        <div class="providers">
            <h2 class='textentry'>id number</h2>
            <h2 class='textentry'>First name</h2>
            <h2 class='textentry'>Last name</h2>
        </div>