<!DOCTYPE html>
<head>
	<title>Admins</title>
    <link href='style.css' rel='stylesheet' type='text/css'/>
	<link href='adminList.css' rel='stylesheet' type='text/css'/>
</head>

<body>
	{{> navbar_logout}}

	<div id='main'>
        <h3 id='title'>Employees</h3>
        <form id='header' method='POST' action='/filter_admin_list'>
            <div class='row'>
                <input type="number" name="Idsearch" placeholder="ID Number"/>
            </div>
            <div class='row'>
                <input type="text" name="fnamesearch" placeholder="First Name"/>
                <input type="text" name="lnamesearch" placeholder="Last Name"/>
                <button class='purple_button' type='button' onclick='getInputs()'>Create Admin</button>
                <input class='purple_button' type='submit' value='Search'>
            </div>
            <div class='row'>
                <h2 class='id'>Id number</h2>
                <h2 class='fname'>First name</h2>
                <h2 class='lname'>Last name</h2>
            </div>
        </form>

        <div id='list'>
            {{#each admins as |admin|}}
                <form class='providers' method='GET' action='/admin_edit'>
                    <input type='submit'  value='' class='goto_provider'/>
                    <input class='id' value='{{admin.id}}'/>
                    <input class='fname' value='{{admin.firstName}}'/>
                    <input class='lname' value='{{admin.lastName}}'/>
                </form>
            {{/each}}
        </div>
	</div>

    <script src="sweetalert2.all.min.js"></script>
    <script src='adminList.js'></script>
</body>
