<!DOCTYPE html>
<html>
<head> 
    <title> Dashboard </title>
    <link href = "dashstyle.css" type = "text/css" rel = "stylesheet"/>
</head>

<body>

    {{> navbar}}

 <div id="menubar">
    	<div class="buttbox" id="licensesbutt">
        	<a class="buttcont" href=./licenses>Licenses</a>
    	</div>

    	<div class="buttbox" id="statusbutt">
        	<a class="buttcont" href=./status>Status</a>
    	</div>

    	<div class="buttbox" id="settingsbutt">
        	<a class="buttcont" href=./settings>Settings</a>
    	</div>
    </div>
    
    <div id="mainarea">
    
        <div class="mainbuttons" id="crimCheck">Criminal Record Check</div>
        <div class="hiddenspace" id="crInfo">
            <div class="textarea">
            <h2>Why?</h2>
                We need a criminal record check because you will be working with a vulnerable group.
            <h2>What?</h2>
                A criminal record check is....
            <h2>How?</h2>
                You can get a criminal record check by...
            </div>
            
            <div class="submitarea">
                <h3>Upload a file...</h3>
                <input type="submit" value="Submit" class="submitbutton" id="crSubmit">
            </div>
        </div>
        
        <div id="homeCheck" class="mainbuttons">Home check</div>
            <div class="hiddenspace" id="homeInfo">
            <div class="textarea">
                <h2>Why?</h2>
                    We need to verify whether your home is a safe environment to provide the curriculum.
                <h2>What?</h2>
                    A home inspection involves....
                <h2>How?</h2>
                    Your home can be inspected by...
                </div>
                
                <div class="submitarea">
                    <h3>Upload a file...</h3>
                    <input type="submit" value="Submit" class="submitbutton" id="homeSubmit">
            </div>
        </div>

        <div id="ccCheck" class="mainbuttons">Childcare license</div>
            <div class="hiddenspace" id="ccInfo">
            <div class="textarea">
                <h2>Why?</h2>
                    We need to providers to apply for a valid childcare license. 
                <h2>What?</h2>
                    A childcare license is....
                <h2>How?</h2>
                    You can obtain a childcare license by...
                </div>
                
                <div class="submitarea">
                    <h3>Upload a file...</h3>
                    <input type="submit" value="Submit" class="submitbutton" id="ccSubmit">
            </div>

        <div id="education" class="mainbuttons">Education</div>
        <div id="references" class="mainbuttons">References</div>
        
    </div>

        <script src='license_page.js'></script>

</body>

</html>