<!DOCTYPE html>
<html>
<head>
  <title> Edify Quiz </title>
  <link href = "edify_quiz.css" type = "text/css" rel = "stylesheet"/>
</head>


<body>
	{{> loginNavbar}}

<h1>Edify Quiz</h1>
<div class="quiz-container">
  <div id="quiz"></div>
</div>
<button id="previous">Previous Question</button>
<button id="next">Next Question</button>
<button id="submit">Submit Quiz</button>
<div id="results"></div>
<script src='edify_quiz.js'></script>
</body>
</html>