<!DOCTYPE html>
<html>

<head>
    <title> Welcome!</title>
    <link href="style.css" type="text/css" rel="stylesheet" />
</head>

<body>
    {{> loginNavbar}}
    <div id="adpage">
        <div id="leftland">
            <div id="create_acc">
                <h1>Create An Account</h1>
                <p id="apply">Apply to become an Edify Provider today!</p>
                <form action="/account_creation">
                    <input class="purple_button" type="submit" value="Create an Account" />
                </form>
            </div>
            <div id="box4">
                <h1>What do you need to become an Edify Provider?</h1>
                <p>If you think you've got what it takes to become a provider, take <a href="/quiz" style="color:indigo">the quiz!</a></p>
            </div>
            <div id="box2">
                <h1>Edifying the future</h1>
                <p>Connecting you to parents in search of after school care. Providing their 5 - 12 year old children with the benefits of a S.T.E.A.M. education.</p>
            </div>
        </div>
        <div id="rightland">
            <div id="box1">
                <h1 >Why should you become an Edify Provider?</h1>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend lectus eu ultricies sagittis. Duis a bibendum tortor, eu hendrerit metus. Pellentesque pellentesque maximus fringilla. Duis sed tincidunt urna. In rutrum, tortor vitae pharetra auctor, tellus ipsum pharetra libero, id maximus lectus ligula vitae erat. Proin aliquet nulla justo, et rutrum orci tristique in. Integer sagittis cursus felis, ac venenatis ex fringilla ac. Cras commodo consectetur diam, pulvinar tincidunt magna lacinia et.
                <iframe id="video" width="400" height="215" src="https://www.youtube.com/embed/giS0BrfXUmM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <div id="box3">
                <h1>What is S.T.E.A.M.</h1>
                <p>S.T.E.A.M. stands for Science, Technology, Engineering, Art and Math
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend lectus eu ultricies sagittis. Duis a bibendum tortor, eu hendrerit metus. Pellentesque pellentesque maximus fringilla. Duis sed tincidunt urna. In rutrum, tortor vitae pharetra auctor, tellus ipsum pharetra libero, id maximus lectus ligula vitae erat. Proin aliquet nulla justo, et rutrum orci tristique in. Integer sagittis cursus felis, ac venenatis ex fringilla ac. Cras commodo consectetur diam, pulvinar tincidunt magna lacinia et.</p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</body>

</html>