<!DOCTYPE html>
<html>
<head>
    <title> Licensing Information </title>
    <link href = "style.css" type = "text/css" rel = "stylesheet"/>
    <link href = "license.css" type = "text/css" rel = "stylesheet"/>
</head>

<body id="licensebody">

    {{> navbar_logout}}
    {{> navbar2}}

    <div id="mainarea">

   <div class="bigcontainer">
        <button class="mainbuttons" id="crimCheck">Criminal Record Check</button>
            <div id="crInfo" class="textarea">
            <h2>Why?</h2>
                We need a criminal record check because you will be working with a vulnerable group.
            <h2>What?</h2>
                You will need to fill out a consent to the criminal record check form, provide two pieces of ID, and payment for the check
            <h2>How?</h2>
                Fill out the criminal record check form and submit it to your licensing officer. They are available online at <a href="www2.gov.bc.ca/gov/content/safety/crime-prevention/criminal-record-check">BC Governement</a> website.
            </div>

            <form ref="uploadCrim"  method="post" encType="multipart/form-data" id="crInfo2" class="submitarea" value="criminal" name="type">
                <h3>Upload a file...</h3>
                <input style="display:none" value="criminal" name="type" />
                <input id="crimfile" type="file" name="pic" accept="image/*" style='width:100%;'/>
                <textarea id='crimnotes' rows="4" cols="35" placeholder="Any comments about your submission?" type="criminal" name="notes"></textarea>
                <input id="crimsubmit" type="submit" value="Submit" class="purple_button">
            </form>

        </div>
    <div class="bigcontainer" >
        <button id="siteCheck" class="mainbuttons">Site Plan</button>
            <div id="siteInfo"class="textarea">
                <h2>Why?</h2>
                    We need to verify whether the indoor and outdoor areas of the care facility are a safe environment.
                <h2>What?</h2>
                    A site plan is a drawn plan of the premise, surround outdoor areas, and the property boundaries.
                    It needs to include major physical features such as roads, bodies of water, outdoor play areas or structures.
                <h2>How?</h2>
                    Digitally create a drawing to scale. Alternatively, you may use graph paper and hand draw the site plan, including measurements.
                </div>
                <form ref="uploadSite" id="siteInfo2"  method="post" encType="multipart/form-data" class="submitarea">
                    <input style="display:none" value="siteplan" name="type" />
                    <h3>Upload a file...</h3>
                    <input id="sitefile"  type="file" name="pic" accept="image/*"/>
                    <textarea id='sitenotes' rows="4" cols="35" placeholder="Any comments about your submission?" name="notes"></textarea>
                    <input id="sitesubmit" type="submit" value="Submit" class="purple_button" />
            </form>
        </div>

        <div class="bigcontainer">
        <button id="floorCheck" class="mainbuttons">Floor Plan</button>
            <div id="floorInfo" class="textarea">
                <h2>Why?</h2>
                We need to verify whether the premise has the necessary facilities and sufficient space for child care.
                <h2>What?</h2>
                A floor plan is a drawn to scale plan which accurately reflects the layout of the building and rooms. It should the room dimensions as well as features such as the location of toilets, exits, and fixed appliances/equipment among other things.
                <h2>How?</h2>
                Digitally create a drawing to scale. Alternatively, you may use graph paper and hand draw the site plan, including measurements.
                </div>
                <form ref="uploadFloor" method="post" encType="multipart/form-data" id="floorInfo2" class="submitarea">
                <input style="display:none" value="floorplan" name="type" />
                <h3>Upload a file...</h3>
                <input id="floorfile" type="file" name="pic" accept="image/*">
                <textarea id='floornotes' rows="4" cols="35" placeholder="Any comments about your submission?" name="notes"></textarea>
                <input id="floorsubmit" type="submit" value="Submit" class="purple_button" />
                </form>
        </div>

        <div class="bigcontainer">
        <button id="refCheck" class="mainbuttons">References</button>
            <div id="refInfo" class="textarea">
                <h2>Why?</h2>
                  To determine whether you are a suitable person to be a child care provider
                <h2>What?</h2>
                  3 references who can talk about your skills, personality, interests.
                <h2>How?</h2>
                  Provide their name, mailing address, and phone number.
                </div>
                <form ref="uploadFloor" method="post" encType="multipart/form-data" id="refInfo2"class="submitarea">
                <input style="display:none" value="reference" name="type" />
              <h3>Upload a file...</h3>
              <input id="reffile" type="file" name="pic" accept="image/*"/>
                <textarea id='refnotes' rows="4" cols="35" placeholder="Any comments or questions about your submission?" name="notes"></textarea>
            <input id="refsubmit" type="submit" value="Submit" class="purple_button" />
            </form>
        </div>

        <div class="bigcontainer">
        <button id="firePlan" class="mainbuttons">Fire Safety Plan</button>
            <div id="fireInfo" class="textarea">
                <h2>Why?</h2>
                To ensure there is an escape plan in the case of a fire in the building.
                <h2>What?</h2>
                  A plan with instructions on how to evacuate the building with main exit and alternative exit. This plan also needs to include the floor plan.
                <h2>How?</h2>
                Provide a drawn floor plan and written procedure. Will need to practice and record the escape plan at least once a month.
                </div>
                <form ref="uploadFloor" method="post" encType="multipart/form-data" id="fireInfo2"class="submitarea">
                    <input style="display:none" value="fireplan" name="type" />
                    <h3>Upload a file...</h3>
                    <input id="firefile" type="file" name="pic" accept="image/*"/>
                    <textarea id='firenotes' rows="4" cols="35" placeholder="Any comments or questions about your submission?" name="notes"></textarea>
                    <input id="firesubmit" type="submit" value="Submit" class="purple_button" />
                </form>
        </div>

        <div class="bigcontainer">
            <button id="immunStat" class="mainbuttons">Immunization Status</button>
                <div id="immunInfo" class="textarea">
                <h2>What?</h2>
                Ensure you have up-to-date vaccinations to protect yourself and the children you work with.
                <h2>Which ones?</h2>
                  <ul id="vaclist">
                    <li>Tetanus and Diphtheria (Td)</li>
                    <li>Poliomyelitis (OPV/IPV)</li>
                    <li>Measles (MMR)</li>
                    <li>Rubella (MMR)</li>
                    <li>Mumps (MMR)</li>
                    <li>Hepatitis B</li>
                    <li>Varicella (Chickenpox)</li>
                    <li>Influenza</li>
                    </ul>
                </div>
        </div>

        <div class="bigcontainer">
            <button id="empPlan" class="mainbuttons">Employee Plan</button>
            <div id="empInfo">
            Who would be the substitute educator? How will children be picked up from school?
                Who else will be present?
            </div>
        </div>
    </div>

</body>

        <script src='license_page.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</html>
