<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link href="style.css" type="text/css" rel="stylesheet" />
    <link href="login.css" type="text/css" rel="stylesheet" />
</head>

<body>
    {{> navbar}}
    <div id="panel">
        <label id="loginTitle">Login</label>
        <div>
            <input id="Email" class="inputbox doubleinput" type="text" name="Email" placeholder="Email" />
        </div>
        <div>
            <input id="Passwd" class="inputbox doubleinput" type="password" name="Passwd" placeholder="Password" />
        </div>
        <a href="/pass_forgot" style="color:indigo" >Forgot your password?</a>
        <p>
        <button id="loginButton" type="submit" class="purple_button">Login</button>
        
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="login.js"></script>
</body>

</html>
