<!DOCTYPE html>
<head>
<title>Login Page</title>
<link href = "login.css" type = "text/css" rel = "stylesheet"/>
<link href = "navbar1.css" type = "text/css" rel = "stylesheet"/>
    <link href = "navbar2.css" type = "text/css" rel = "stylesheet"/>
</head>

<body>
    {{> navbar}}
    
    <div id="Login_Panel">
        <div id="Left_Panel" class="Login_Panels">
            <h2>Create An account</h2>
            <p>Apply to be an edify educator today!!:)</p>
            <form action="/ad_page">
                <input class="purple_button" type="submit" value="create an account"/>
            </form>
        </div>
        <div id="Right_Panel" class="Login_Panels">
            <h2>Sign in</h2>
            <form id="Right_form" method="post" action="/">
                <div>
                    <input class="inputbox loginelements" type="text" name="Email" placeholder="Email"/>
                </div>
                <div>
                        <input class="inputbox loginelements" type="password" name="Passwd" placeholder="Password"/>
                </div>
                <div>
                        <input class="purple_button loginelements" type="submit" value="login"/> 
                        <a href="Don't remember your password?">Don't remember your password?</a>
                </div>
                
                
                
            </form>
        </div>
        
        </form>
    </div>

</body>