<!DOCTYPE html>
<head>
    <link href = "Passchange.css" type="text/css" rel = 'stylesheet'/>
</head>

<body>
    <div id="main">
        <div id = "label">Change Password</div>
        <div id="loginbox">
                <form id="leftside">
                    <input class="inputbox loginelements" type="text" name="Email" placeholder="Old Password"/>
                    <input class="inputbox loginelements" type="text" name="Email" placeholder="New Password"/>
                    <input class="inputbox loginelements" type="text" name="Email" placeholder="Retype New Password"/>
                    <input class="purple_button" id="confirmbutton" type="submit" value="confirm"/>
                </form>


            <div id="rightside">
                <button class="purple_button" id="cancelbutton">Cancel</button>

            </div>

        </div>
    </div>
</body>