<!DOCTYPE html>
<head>
	<title>Provider</title>
	<link href='provider page.css' rel='stylesheet' type='text/css'/>
	
</head>

<body>
	{{> navbar}}

	<div id='body'>
		<div id="top">
		<input type="text" name="id" placeholder="ID">
		<select name="example" id="providerSelect">
			<option selected="selected" value="one">All applicants</option>
			<option  value="two">Choice 2</option>
			<option  value="three">Choice 3</option>
		</select><br>
		
		<input type="text" name="fname" placeholder="First Name">
		<input type="text" name="lname" placeholder="Last Name">
		<button name="submit">Submit</button>
		</div>

		<div id="scroll">
			<div id="attributes">
				<text id="id">ID</text>
				<text id="fname">First Name</text>
				<text id="lname">Last Name</text>
				<text id="status">Status</text>
			</div>
			<div class="prov" id="prov1">
				<text id="id">912323</text>
				<text id="fname">Joe</text>
				<text id="lname">DiMaggio</text>
				<text id="status">Approved</text>
			</div>
			<div class="prov" id="prov1">
				<text id="id">912323</text>
				<text id="fname">Joe</text>
				<text id="lname">DiMaggio</text>
				<text id="status">Approved</text>
			</div>
			<div class="prov" id="prov1">
				<text id="id">912323</text>
				<text id="fname">Joe</text>
				<text id="lname">DiMaggio</text>
				<text id="status">Approved</text>
			</div>
			<div class="prov" id="prov1">
				<text id="id">912323</text>
				<text id="fname">Joe</text>
				<text id="lname">DiMaggio</text>
				<text id="status">Approved</text>
			</div>
			<div class="prov" id="prov1">
				<text id="id">912323</text>
				<text id="fname">Joe</text>
				<text id="lname">DiMaggio</text>
				<text id="status">Approved</text>
			</div>
			<div class="prov" id="prov1">
				<text id="id">912323</text>
				<text id="fname">Joe</text>
				<text id="lname">DiMaggio</text>
				<text id="status">Approved</text>
			</div>
			<div class="prov" id="prov1">
				<text id="id">912323</text>
				<text id="fname">Joe</text>
				<text id="lname">DiMaggio</text>
				<text id="status">Approved</text>
			</div>
			<div class="prov" id="prov1">
				<text id="id">912323</text>
				<text id="fname">Joe</text>
				<text id="lname">DiMaggio</text>
				<text id="status">Approved</text>
			</div>
			<div class="prov" id="prov1">
				<text id="id">912323</text>
				<text id="fname">Joe</text>
				<text id="lname">DiMaggio</text>
				<text id="status">Approved</text>
			</div>
			<div class="prov" id="prov1">
				<text id="id">912323</text>
				<text id="fname">Joe</text>
				<text id="lname">DiMaggio</text>
				<text id="status">Approved</text>
			</div>
			<div class="prov" id="prov1">
				<text id="id">912323</text>
				<text id="fname">Joe</text>
				<text id="lname">DiMaggio</text>
				<text id="status">Approved</text>
			</div>
			<div class="prov" id="prov1">
				<text id="id">912323</text>
				<text id="fname">Joe</text>
				<text id="lname">DiMaggio</text>
				<text id="status">Approved</text>
			</div>
			<div class="prov" id="prov1">
				<text id="id">912323</text>
				<text id="fname">Joe</text>
				<text id="lname">DiMaggio</text>
				<text id="status">Approved</text>
			</div>
			<div class="prov" id="prov1">
				<text id="id">912323</text>
				<text id="fname">Joe</text>
				<text id="lname">DiMaggio</text>
				<text id="status">Approved</text>
			</div>
			<div class="prov" id="prov1">
				<text id="id">912323</text>
				<text id="fname">Joe</text>
				<text id="lname">DiMaggio</text>
				<text id="status">Approved</text>
			</div>
			<div class="prov" id="prov1">
				<text id="id">912323</text>
				<text id="fname">Joe</text>
				<text id="lname">DiMaggio</text>
				<text id="status">Approved</text>
			</div>
			<div class="prov" id="prov1">
				<text id="id">912323</text>
				<text id="fname">Joe</text>
				<text id="lname">DiMaggio</text>
				<text id="status">Approved</text>
			</div>
			
		</div>


	</div>

</body>