<!DOCTYPE html>
<head>
	<title>Provider</title>
	<link href='provider list page.css' rel='stylesheet' type='text/css'/>
	
</head>

<body>
	{{> navbar}}

	<div id='main'>
		<div id ='options'>
            <form id="parameters">
                <div id="leftbox">
                    <div>
                    <input class="inputbox" type="text" name="Idsearch" placeholder="ID Number"/>
                    </div>
                    <div>
                        <input class="inputbox" type="text" name="fnamesearch" placeholder="First Name"/>
                        <input class="inputbox" type="text" name="lnamesearch" placeholder="Last Name"/>
                    </div>
                </div>
                <div id="rightbox">
                    <div>
                    <select id="optionbox" class="inputbox" name="querytype">
                        <option id="dropdown" value= "All">All applicants</option>
                        <option id="dropdown" value= "Awaitingl">Awaiting approval</option>
                        <option id="dropdown" value="Approval">Awaiting submission</option>
                        <option id="dropdown" value="Granted">Approval granted</option>
                        <option id="dropdown" value="denied">Approval denied</option>
                    </select>
                    </div>
                    <div>
                    <input class="purple_button" type="submit" value="Submit"/>
                    </div>
                </div>
            </form>    
        </div>

        <div id='list'>
            <div class="providers">
                <h2 class='textentry'>id number</h2>
                <h2 class='textentry'>FirstName</h2>
                <h2 class='textentry'>LastName</h2>
                <h2 class='applicationentry'>Application</h2>
            </div>
        </div>

	</div>
</body>