<!DOCTYPE html>
<head>
	<title>Provider</title>
	<link href='provider page.css' rel='stylesheet' type='text/css'/>
	
</head>

<body>
	{{> navbar}}

	<div id='main'>
		<div id='info'>
			<div id='infoTop'>
				<button id=back_but>
					back
				</button>
			</div>

			<div id='infoBot'>
				<div id='number'>
					number
				</div>
				<div id='first_name'>
					first name
				</div>
				<div id='last_name'>
					last name
				</div>
				<div id='status'>
					status
				</div>
			</div>
		</div>

		<div id='licenses'>
			<div style='height: 65px'></div>
			<div class='license_group'>
				<div id='awaiting_approval' class='license_group_name'>
					Awaiting approval
				</div>
				<div style="height: 18px"></div>
				<button class='license_but'>
					license
				</button>
				<div style="height: 5px"></div>
				<button class='license_but'>
					license
				</button>
				<div style="height: 18px"></div>
			</div>

			<div class='license_group'>
				<div id='awaiting_submission' class='license_group_name'>
					Awaiting submission
				</div>
				<div style="height: 18px"></div>
				<button class='license_but'>
					license
				</button>
				<div style="height: 5px"></div>
				<button class='license_but'>
					license
				</button>
				<div style="height: 5px"></div>
				<button class='license_but'>
					license
				</button>
				<div style="height: 18px"></div>
			</div>

			<div class='license_group'>
				<div id='approval' class='license_group_name'>
					Approved
				</div>
				<div style="height: 18px"></div>
				<button class='license_but'>
					license
				</button>
				<div style="height: 18px"></div>
			</div>

			<div class='license_group'>
				<div id='denied' class='license_group_name'>
					Denied
				</div>
				<div style="height: 18px"></div>
				<button class='license_but'>
					license
				</button>
				<div style="height: 5px"></div>
				<button class='license_but'>
					license
				</button>
				<div style="height: 18px"></div>
			</div>
		</div>

	</div>

</body>