<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>{{title}}</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body id="body">
    <div id="headerdiv">
        <h1 id="headtext">edify Providers</h1>
    </div>


    <div id="maincontent">
    	<div class="quizscreen" id="quizscreen">
    		<div class="quiztitle" id="quiztitle">
    			<h3 class="quiztext"><br><center><big>Eligibility quiz review</big></center></h3>

    		</div>

    		<h3 class="quizquestion"><small>1. Question 1 placeholder </small><a href=./quiz><font size="3" color="#9c67ec">Change</font></a><br>
            <text><font size="3" color="#5f59a5"> &nbsp &nbsp Answer 2 placeholder</font><br></text></h3>

            <h3 class="quizquestion"><small>2. Question 2 placeholder </small><a href=./quiz><font size="3" color="#9c67ec">Change</font></a><br>
            <text><font size="3" color="#5f59a5"> &nbsp &nbsp Answer 2 placeholder</font><br></text></h3>

            <h3 class="quizquestion"><small>3. Question 3 placeholder </small><a href=./quiz><font size="3" color="#9c67ec">Change</font></a><br>
            <text><font size="3" color="#5f59a5"> &nbsp &nbsp Answer 1 placeholder</font><br></text></h3>

            <div class="quizbackButt" id="quizbackButt">
                <text class="quiztitle">Back</text>
            </div>

            <div class="quiznextButt" id="quiznextButt">
                <text class="quiztitle">Finish</text>
            </div>
    	</div>


    </div>


</body>
<script>

</script>

</html>