<!DOCTYPE html>
<html>
<head>
  <title> Requirements </title>
  <link href = "requirements.css" type = "text/css" rel = "stylesheet"/>
</head>

<body>

{{> navbar}}	
	
<h1 class="heading" >What do you need to become an Edify Provider?</h1> 

<h1> 1.-An applicant for a licence must submit with the application all of the matters set out in this Schedule. </h1>

<h1> 2.-An applicant must provide a detailed description of the care program to be offered.</h1> 

<h1> 3.-An applicant must provide 3 references and a criminal record check for </h1> 

<p>(a) the applicant, if not a corporation, and </p>

<p>(b) the proposed manager, if not the applicant.</p>

<h1> 4.-An applicant who intends to provide a care program described as Family Child Care or In-Home Multi-Age Child Care must provide a criminal record check for any person over the age of 12 who will be ordinarily present at the community care facility. </h1> 

<h1> 5.-An applicant must provide an employee plan that includes all of the following: </h1> 

<p>(a) a statement of the duties, qualifications, relevant work experience and suitability of the proposed manager;</p>

<p>(b) the proposed number of employees, their qualifications and expected duties;</p>

<p>(c) the supervision and staffing plan, including while children are attending or being transported to and from outdoor play areas or activities located outside the property boundaries. </p>

<h1> 6.-An applicant must provide a site plan, drawn to scale, showing all of the following: </h1> 

<p>(a) the proposed location of the community care facility, including the property boundaries;</p>

<p>(b) subject to section 8, the location and dimensions of the outdoor play area intended for regular or daily outdoor activities;</p>

<p>(c) if children will be attending outdoor play areas or activities located outside the property boundaries on a regular or daily basis:</p>

<p>(i) the distances from the community care facility to the outdoor play areas and activities</p>

<p>(ii) the routes to the outdoor play areas and activities</p>

<p>(iii) any major physical features that may affect the safety of children, including roads and bodies of water, located along the routes to, and in the immediate vicinity of, the outdoor play areas and activities. </p>

<h1> 7.-An applicant must provide a safety plan describing how children will be transported to regular or daily outdoor play areas, or regular or daily activities, located outside the property boundaries. </h1> 

<h1> 8.-If there is no outdoor play area available for regular or daily outdoor activities, an applicant must provide an activity plan that describes both of the following: </h1> 

<p>(a) how the program standards set out in section 1 of Schedule G will be met;</p>

<p>(b) any community services that will be used, including visits to parks, pools or recreation centres. </p>

<h1> 9.-An applicant must provide a floor plan showing all of the following: </h1> 

<p>(a) the inside dimensions of each room and the width of each corridor and stair; </p>

<p>(b) the location and size of windows and the height of windowsills from the floor; </p>

<p>(c) the location of accommodation reserved for family or employees, and for children who are sleeping; </p>

<p>(d) the location of toilets, wash basins and diaper changing surfaces; </p>

<p>(e) the location and size of the fixed equipment in each room; </p>

<p>(f) the location of all exits. </p>

<h1> 10.-An applicant must provide a statement of projected monthly revenues and expenditures, including the estimated cost of employee salaries and benefits, food, utilities, taxes, insurance, maintenance, housing and programs. </p>

<h1> 11.-If the applicant is a society, the applicant must provide, on request of a medical health officer, a copy of its constitution and bylaws. </h1> 



</body>