<!DOCTYPE html>
<html>

<head>
  <title> Password Recovery E-mail Sent </title>
  <link href="style.css" type="text/css" rel="stylesheet" />
  <link href="account_creation.css" type="text/css" rel="stylesheet" />
  
</head>

<body>
{{> navbar}}
<h1 id="acheader">An e-mail has been sent with a password reset link.</h1>

</body>
</html>