<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>{{title}}</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link href = "navbar1.css" type = "text/css" rel = "stylesheet"/>
  <link href = "navbar2.css" type = "text/css" rel = "stylesheet"/>

</head>

<body id="body">
     {{> navbar}}
    {{> navbar2}}

    <div id="maincontentset" >
        <div class="changepart" id="namepart" href="changePass">
            <div class="changebox" id="changename" onclick=" openOrClose('backPage', 'changeName', 'block')">Change name</div>
            <div class="changeinfo" id="nameinfo">
                <text>Name <br> <i><font size="4" color="#73618d">{{userData.UName}}</font></i>
                </text>
            </div>
        </div>

        <div class="changepart" id="emailpart">
            <div class="changebox" id="changeemail" onclick=" openOrClose('backPage', 'changeEmail', 'block')">Change email</div>
            <div class="changeinfo" id="emailinfo">
                <text>Email <br> <i><font size="4" color="#73618d">{{userData.UEmail}}</font></i>
                </font></i></text>
            </div>
        </div>

        <div class="changepart" id="pwpart">
            <div class="changebox" id="changepw" onclick=" openOrClose('backPage', 'changePass', 'block')">Change password</div>
            <div class="changeinfo" id="pwinfo"><br><br>
            </div>

        </div>


    </div>

    <div id="backPage" >
        <form action="/settings" method="post">
                <div id="changePass">
                    <h3 class="popuptitle">Change password</h3>
                    <input class="changeInput" type="password" placeholder="Current password" name="curpw">
                    <input class="changeInput" type="password" placeholder="New password" name="pswd" >
                    <input class="changeInput" type="password" placeholder="Re-type new password" name="pswd">
                    <button class="purple_button" type="submit">Confirm</button>
                    <button id="cancelPass" class="purple_button" type="button" onclick="openOrClose('backPage', 'changePass', 'none')">Cancel</button>

                </div>
        </form>

        <form action="/settings" method="post">
                <div id="changeName">
                    <h3 class="popuptitle">Change name</h3>
                    <input class="changeInput" type="text" placeholder="New name" name="newname">
                    <button class="purple_button" type="submit">Confirm</button>
                    <button id="cancelName" class="purple_button" type="button" onclick="openOrClose('backPage', 'changeName', 'none')">Cancel</button>

                </div>
        </form>

        <form action="/settings" method="post">
                <div id="changeEmail">
                    <h3 class="popuptitle">Change email</h3>
                    <input class="changeInput" type="text" placeholder="New email" name="newemail" >
                    <button class="purple_button" type="submit">Confirm</button>
                    <button id="cancelEmail" class="purple_button" type="button" onclick="openOrClose('backPage', 'changeEmail', 'none')">Cancel</button>

                </div>
        </form>
    </div>
    <script src='settings.js'></script>
    <!-- <script src='sweetalert.min.js'></script> -->

    <script>
    sweetAlert("Hello world!");
    </script>

    <!-- <script src="node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <script>
    sweetAlert("Hello world!");
    </script> -->

    <!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>sweetAlert('Your list must have a name longer than 5 characters')</script> -->



</body>


</html>