<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Settings Page</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link href="settings.css" rel="stylesheet" type="text/css" />
</head>

<body id="body">
    {{> navbar_logout}}
    {{> navbar2}}

    <div id="maincontentset" >
        <div class="changepart" id="namepart" href="changePass">
            <div class="changebox" id="changename" onclick=" changeName()">Change name</div>
            <div class="changeinfo" id="nameinfo">
                <text>Name <br> <i><font id='userName' size="4" color="#73618d">{{name}}</font></i>
                </text>
            </div>
        </div>

        <div class="changepart" id="emailpart">
            <div class="changebox" id="changeemail" onclick="changeEmail()">Change email</div>
            <div class="changeinfo" id="emailinfo">
                <text>Email <br> <i><font id='userEmail' size="4" color="#73618d">{{email}}</font></i>
                </font></i></text>
            </div>
        </div>

        <div class="changepart" id="pwpart">
            <div class="changebox" id="changepw" onclick="changePassword()">Change password</div>
            <div class="changeinfo" id="pwinfo"><br><br>
            </div>
        </div>
    </div>
    <script src='settings.js'></script>
    <script src="sweetalert2.all.min.js"></script>
</body>
</html>
