<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>{{title}}</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link href = "navbar1.css" type = "text/css" rel = "stylesheet"/>
  <link href = "navbar2.css" type = "text/css" rel = "stylesheet"/>
</head>

<body id="body">
     
{{> navbar}}
    {{> navbar2}}
    <div id="maincontent">
        
    	<div class="checkingbox" id="criminalcheck">
    		<div class="checkingtitle" id="criminaltitle">
    			<h2 class="checkingtext">Criminal Record Check</h2>
    		</div>

    		<h3 class="checkingcontent">Status: <br> <small> &nbsp Notes</small> </h3>
    		<div class="notesbox">
    		</div>
    	</div>

    	<div class="checkingbox" id="buldingcheck">
    		<div class="checkingtitle" id="buildingtitle">
    			<h2 class="checkingtext">Home Check</h2>
    		</div>

    		<h3 class="checkingcontent">Status: <br> <small> &nbsp Notes</small> </h3>
    		<div class="notesbox">
    		</div>

    	</div>

    </div>


</body>
<script>

</script>

</html>