<!DOCTYPE html>
<html>
<head>
	<title> Terms and Privacy</title>
	<link href = "terms.css" type = "text/css" rel = "stylesheet"/>
</head>

<body>
{{> navbar}}  

<div>
<h1 class="heading">This is the terms and privacy page</h1>

<p class="terms">
			
		 Right now there arent any real T&P, this is just a placeholder
</p>

</div>
</body>
</html>