<!DOCTYPE html>
<html>

<head>
  <link href = "navbar1.css" type = "text/css" rel = "stylesheet"/>
  <link href = "navbar2.css" type = "text/css" rel = "stylesheet"/>
  <style>
  body {
  	background-color: red;
  }
	</style>
</head>

<body>
	{{> navbar}}
	{{> navbar2 }}
</body>

</html>